wasm := "{{ wasm_filename }}"
{% raw %}
actbuild := env("ACT_BUILD", "npx @actcore/act-build")
jco := env("JCO", "npx @bytecodealliance/jco")

build:
    {{jco}} componentize src/index.js --wit wit/ --world-name component-world -o {{wasm}}

pack: build
    {{actbuild}} pack {{wasm}}
{% endraw %}
